.container-bgButton-random{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 30em;
    flex-direction: column;
}
.bgButtonRandom{
    border-radius: 7px;
}

.bgButtonRandom:hover{
    background-color: gray;
    box-shadow:white 1px 1px 1px;
    border-radius: 7px;
    cursor: pointer;
}
body{
  background-color: black;
}

.byDjkill
{
    color: white;
    display: flex;
    justify-content: flex-end;
}

